
@{
    ViewBag.Title = "Index";
}

<h2>Indexx</h2>

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">SpedizionibyMe</h1>
        <p class="lead">SpedizioniByMe si occupa di consegne per privati e aziende.</p>
    </section>

    <div class="row">
        <section class="col-md-6" aria-labelledby="gettingStartedTitle">
            <h2>Sei un cliente o un azienda?</h2>
            <p>
                Rintraccia il tuo pacco per essere sempre aggiornato sull'ultimo stato della spedizione.
            </p>
            <a href="Home/CercaSpedizione" class="btn btn-primary">Rintraccia pacco</a>
        </section>
        <section class="col-md-6" aria-labelledby="librariesTitle">
            <h2>Sei un amministratore?</h2>
            <p>Accedi alla tua area privata.</p>
            <a href="Admin/Login" class="btn btn-primary">Accedi alla tu area riservata</a>
        </section>
    </div>
</main>